<% include partials/header %>
<body id="About">
<div class="profilePhoto">
<img src="images/Aida.jpg"  />
<p id="aboutMe">My name is Aida Mengistu and I am a Web Development Immersive student at General Assembly in Seattle, WA.  I designed this website as my first class project.  I wanted to design a website that helps families locate playgrounds and parks in their area.  My goal is to expand this site to include all cities in Washington state.  If you'd like to get in touch with me, my email address is aida_mengistu@hotmail.com.  I can also be reached by phone at (206)371-1202.</p>
</div>

<% include partials/footer %>